:root {
    --primary-color: #ffffff;
    --secondary-color: #05091be1;
    --button-color: rgb(223, 219, 179);
}

.dark-theme {
    --primary-color: #05091be1;
    --secondary-color: #fff;
    --button-color: rgb(211, 146, 225);
    --button-text-color: rgb(26, 24, 24);
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 14px;
}

.navbar, .mainPage {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav-link {
    cursor: pointer; /* Change cursor to a pointer on hover */
}



a {
    color: var(--secondary-color);
}

    a:hover, a:active {
        color: #93cdcb;
    }

.navbar-nav {
    text-align: left;
    font-family: 'Batang'
}

.navbar ul li :hover {
    color: var(--secondary-color);
    border-bottom: solid 2px #999;
}

.navbar-brand img {
    max-height: 40px;
    width: 100%;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Korten */
.card {
    box-shadow: 0px -5px 10px #999;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.card-link:hover {
    cursor: pointer;
}

.card-link {
    list-style: none;
    text-decoration: none;
}


/* Style for the dropdown menu container */
.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute; /* Use absolute positioning */
    top: 100%; /* Position it below the dropdown toggle */
    left: 0;
    z-index: 999;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px var(--secondary-color);
}

/* Style for the dropdown items */
.dropdown-item-custom {
    cursor: pointer; /* Change cursor to a pointer on hover */
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    display: block; /* Display the items as blocks to occupy the full width */
}

    .dropdown-item-custom:hover,
    .dropdown-item-custom:focus {
        text-decoration: none;
        background-color: lightskyblue;
        opacity: 0.8; /* Add a semicolon here */
    }


/* Show the dropdown menu when hovering the parent */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}




.footer {
    flex-shrink: 0;
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}


footer::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
}

.footer-nav-headline {
    color: var(--secondary-color) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

    .footer-nav-headline:after {
        content: "";
        position: absolute;
        background-color: var(--secondary-color);
        height: 0.2em;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }

    .footer-nav-headline:hover {
        color: var(--secondary-color);
        font-weight: bold;
        cursor: pointer;
    }

        .footer-nav-headline:hover:after {
            width: 100%;
        }

.signup-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
}

.btn-footer {
    background-color: none;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0 15px;
    border-radius: 50px;
    padding: 1px 20px;
    transition: 0.4s;
}

.bf-1 {
    background-color: rgb(180, 200, 214);
}

    .bf-1:hover {
        background-color: rgb(199, 196, 166);
    }

.bf-2 {
    background-color: var(--button-color);
}

    .bf-2:hover {
        background-color: rgb(165, 190, 207);
        color: var(--button-text-color);
    }


.footer-box-el {
    color: var(--secondary-color) !important;
    text-decoration: none;
}

.elemento1 {
    content: "";
    display: block;
    width: 80%;
    border-top: 1px solid var(--secondary-color);
    margin: 0 auto;
}

.secondary-footer {
    color: var(--secondary-color);
    padding-top: 3rem;
    padding-left: 1rem;
}

.dt-el {
    font-size: 0.8rem;
    transition: 0.3s;
}

    .dt-el:hover {
        font-size: 1rem;
    }

.gridfooter {
    text-align: left;
}

.container-fluid {
    
    padding-bottom: 80px; /* Adjust this value based on your footer height */
}


.signup {
    align-content: baseline;
}

/* Custom button style with a new class name */
.my-custom-button {
    background-color: var(--button-color);
    color: var(--button-text-color);
  
}


.no-underline:hover {
    text-decoration: none !important;
    color: black !important;
}

.sortera_ng {
    background: var(--primary-color);
    color: var(--secondary-color);
}