
/*Länkar*/

@import url('site.css');
:root {
    --primary-color: #ffffff;
    --secondary-color: #05091be1;
    --button-color: rgb(223, 219, 179);
}

.dark-theme {
    --primary-color: #05091be1;
    --secondary-color: #fff;
    --button-color: rgb(211, 146, 225);
    --button-text-color: rgb(26, 24, 24);
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 14px;
}

.navbar, .mainPage {

    background-color: var(--primary-color);
    color: var(--secondary-color);
}


a {
    color: var(--secondary-color);
}

    a:hover, a:active {
        color: #93cdcb;
    }

.navbar-nav {
    text-align: left;
    font-family: 'Batang'
}

.navbar ul li :hover {
    color: var(--secondary-color);
    border-bottom: solid 2px #999;
}

.navbar-brand img {
    max-height: 40px;
    width: 100%;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: var(--secondary-color);
    font-weight: bold;
}




/* Korten */
.card {
    box-shadow: 0px -5px 10px #999;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.card-link:hover {
    cursor: pointer;
}

.card-link {
    list-style: none;
    text-decoration: none;
}


/* Style for the dropdown menu container */
.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute; /* Use absolute positioning */
    top: 100%; /* Position it below the dropdown toggle */
    left: 0;
    z-index: 999;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px var(--secondary-color);
}

/* Style for the dropdown items */
.dropdown-item-custom {
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    display: block; /* Display the items as blocks to occupy the full width */
}

    /* Hover and focus styles for dropdown items */
    .dropdown-item-custom:hover,
    .dropdown-item-custom:focus {
        text-decoration: none;
        background-color:lightskyblue;
        opacity:0.8
        ;
      
    }

/* Show the dropdown menu when hovering the parent */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Rest of your existing styles */


/* Detta gör inget / ATTHAPHON */ 
/*.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

    .login-box input {
        width: 93.5%;
        margin-bottom: 10000px;
        padding: 8px;
    }

    .login-box button {
        width: 100%;
        padding: 8px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: outset;
        cursor: pointer;
    }

main.mainclass {
    background-color: var(--primary-color);
    padding-top: 1.5rem;
}
*/