.gradient-bg {
    background-image: var(--gradient);
    animation: bg-animation 15s infinite alternate;
    background-size: 400%
}


:root {
    --gradient: linear-gradient(to right, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: var(--gradient);
    animation: bg-animation 15s infinite alternate;
    background-size: 400%;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* The rest of your styles remain the same */




.card-topic {
    color: rgb(124, 172, 204);
}

.mainclass {
    background-color: var(--primary-color);
    padding-top: 1.5rem;
}

.card-topic {
    color: rgb(124, 172, 204);
}

.table {
    margin-bottom: 50px;
}
