.input-container {
    margin-bottom: 10px;

}

/* Style for input labels */
.input-label {
    --primary-color: #05091be1;
    --secondary-color: #fff;
    font-weight: bold;
    font-size: 12.5px; /* Adjust the font size as needed */
}

/* Style for input fields */
.input-field { 
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for login button */
.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #0056b3;
    }

/* Style for registration link */
.register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px; /* Adjust the font size as needed */
}





/* Adjust margin-top for registration container */
.card.registration-container {
  
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px; /* Adjust this value as needed */
    text-align: center;

}