<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="/wwwroot/css/site.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
   
                <div class="card weather-card">
                    <div class="weather-search">
                        <input class="search-input" type="text" id="search-input" placeholder="Sök på en stad" />
                        <button class="search-btn" id="search-button"><img class="search-btn-img" src="~/Images/search.png"></button>
                    </div>

                    <div id="error-message"></div>
                    <div>
                        <img id="icon" class="weather-main-icon" src="/Images/mist.png" />
                        <p class="weather-desc" id="weatherdesc"></p>
                        <h2 class="weather-city" lang="sv" id="stad"></h2>


                        <div class="details">
                            <div class="col">
                                <h1 class="weather-temp" id="temp"> </h1>
                            </div>
                        </div>

                        <div class="SecondDetails">
                            <div class="col">
                                <div>
                                    <p>Luftfuktighet:</p>
                                    <p class="humidity" id="humidity"></p>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p>Vind:</p>
                                    <p class="wind" id="wind"></p>
                                </div>
                            </div>
                        </div>
                


            
                     </div>
                 </div>

</body>
</html>